# Import Libraries

In [1]:
import pandas as pd

# Dataset Loading
read the dataset using the first 10 million rows

In [2]:
df = pd.read_csv('data/2019-Nov.csv', nrows = 100000)
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

### Data types

In [3]:
df.dtypes

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

# Data Cleaning

### Drop Duplicate Values and columns of no use

In [4]:
# check for deplicate rows
df.duplicated().sum()

print(df.shape, 'before dropping duplicates')

# drop duplicates rows
df = df.drop_duplicates()

print(df.shape, 'after dropping duplicates')

(100000, 9) before dropping duplicates
(99973, 9) after dropping duplicates

In [9]:
# Drop columns of no use
df = df.drop(['event_time','category_id','user_session'], axis=1)
df.head()

  event_type  product_id              category_code   brand   price    user_id
0       view     1003461     electronics.smartphone  xiaomi  489.07  520088904
1       view     5000088  appliances.sewing_machine  janome  293.65  530496790
2       view    17302664                        NaN   creed   28.31  561587266
3       view     3601530  appliances.kitchen.washer      lg  712.87  518085591
4       view     1004775     electronics.smartphone  xiaomi  183.27  558856683