In [2]:
import pandas as pd
import numpy as np


SOURCE_FILE = "data/2019-Oct.csv"
INTERACTION_FILE = "data/interactions_capped"

In [13]:
df = pd.read_csv(SOURCE_FILE)

In [3]:

from ecommerceEngine import InteractionMapper, RecommenderEngine

In [4]:
# Now that you openned it. 

interactionMapper = InteractionMapper(SOURCE_FILE)

In [ ]:

interactionMapper.to_csv(INTERACTION_FILE)

In [ ]:
# I will be capping things in 10 Cart + View + Buy 1 + 3 + 5

In [7]:
interactionMapper.df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,score,user_productid
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,1,541312140-44600062
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,1,554748717-3900821
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,1,519107250-17200506
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,1,550050854-1307067
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,1,535871217-1004237

In [ ]:
interac