## Data Scrapper.

The idea of this project is to have something that is able to:
    
1. Given an input of parameters e.g. category_code, brand (electronics, smartphone, xiaomi)
2. be able to fetch images (the first one) on google images
3. And post them to x database.

In [1]:
list_search = ["electronics, smartphone, xiaomi"]

In [2]:
from bs4 import BeautifulSoup
from PIL import Image
import requests
from io import BytesIO
import IPython.display as Disp
import pandas as pd
import numpy as np

In [3]:

def get_google_img(query):
    """
    gets a link to the first google image search result
    :param query: search query string
    :result: url string to first result
    """
    url = 'https://www.google.com/search?hl=jp&q=' + query + '&btnG=Google+Search&tbs=0&safe=off&tbm=isch'
    headers={'User-Agent':"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.134 Safari/537.36"}

    html = requests.get(url, headers=headers).text

    soup = BeautifulSoup(html, 'html.parser')
    image = soup.find("img",{"class":"yWs4tf"})
#     print(image)

    if not image:
        return 
    return image['src']

In [4]:
# query = input("search term\n")
print(get_google_img("banana") or "no image found")

https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYP1r3GW1Ah7DU-Ekqpwz3rMG7Qh-gRxnw76S8jTtOI5tbW0WHkRWGc8QjCQ&s

In [41]:

from PIL import Image, ImageDraw


def searchFromList(list_search):
    for imgq in list_search:
        print(f"Searching: {imgq}")
        imgsrc = get_google_img(imgq)
        response = requests.get(imgsrc)
        img = Image.open(BytesIO(response.content))
        img.save(+".jpg")

## Finding the unique 

Find unique datasets available

In [91]:


ROW_CATEGORY_CODE = "category_code"
ROW_BRAND = "brand"
ROW_NAME="product_name"
ROW_PRODUCT_ID = "product_id"
ROW_COUNT = "count"
ROW_EVENT = "event_type"
ROW_TIME = "event_time"
ROW_SESSION = "user_session"

In [11]:
df = pd.read_csv('data/2019-Oct.csv',nrows = 1000000)

In [21]:
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [61]:
ROW_CATEGORY_CODE = "category_code"
ROW_BRAND = "brand"
ROW_NAME="product_name"
ROW_PRODUCT_ID = "product_id"
ROW_COUNT = "count"
ROW_EVENT = "event_type"
ROW_TIME = "event_time"
ROW_SESSION = "user_session"

In [25]:
df[ROW_CATEGORY_CODE] = df[ROW_CATEGORY_CODE].astype(str)
df[ROW_BRAND] = df[ROW_BRAND].astype(str)

In [35]:
def create_name(dfrow):
    return returnSpaceForNan(dfrow[ROW_CATEGORY_CODE]) + " "+ returnSpaceForNan(dfrow[ROW_BRAND])

def returnSpaceForNan(field):
    return field if field != "nan" else ""

In [36]:
df[ROW_NAME] = df.apply(create_name, axis=1)

In [37]:
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,product_name
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,nan,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,shiseido
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,appliances.environment.water_heater aqua
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,nan,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,furniture.living_room.sofa
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,computers.notebook lenovo
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,electronics.smartphone apple

In [77]:
gb_count = df.groupby(ROW_PRODUCT_ID)[ROW_NAME].agg(["count"])

In [79]:
gb_count.head()

            count
product_id
1001588        54
1002042         7
1002062        12
1002098       128
1002099       698

In [80]:
gb_count.reset_index(ROW_PRODUCT_ID)

       product_id  count
0         1001588     54
1         1002042      7
2         1002062     12
3         1002098    128
4         1002099    698
...           ...    ...
63317    53900011      2
63318    53900012     40
63319    53900014      2
63320    53900016      1
63321    53900017      2

[63322 rows x 2 columns]

In [46]:
products = df.drop_duplicates(ROW_NAME)

In [83]:
products = products.merge(gb_count,how="left" , on=ROW_PRODUCT_ID)

In [86]:
products.sort_values(ROW_COUNT, ascending=False)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,product_name,count
70,2019-10-01 00:02:12 UTC,view,5100816,2053013553375346967,nan,xiaomi,29.51,515755304,64958978-ba24-40f9-9b1d-51fd64a830bd,xiaomi,4736
19,2019-10-01 00:00:23 UTC,view,1004739,2053013555631882655,electronics.smartphone,xiaomi,197.55,519530528,9882d21f-2c5f-496b-90d4-a1503edb6562,electronics.smartphone xiaomi,4286
41,2019-10-01 00:00:56 UTC,view,4804295,2053013554658804075,electronics.audio.headphone,xiaomi,23.13,541366014,6d8ce6fb-2953-4e95-96fe-b40f1ec50ba8,electronics.audio.headphone xiaomi,3409
80,2019-10-01 00:02:34 UTC,view,1004838,2053013555631882655,electronics.smartphone,oppo,179.38,552552067,4d32eaca-f891-4e40-80be-63e82bf4edfe,electronics.smartphone oppo,2517
131,2019-10-01 00:06:31 UTC,view,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553,electronics.audio.headphone apple,2457
...,...,...,...,...,...,...,...,...,...,...,...
3186,2019-10-01 06:20:59 UTC,view,18300004,2053013558945383017,accessories.bag,cameron,10.27,527326581,53e70ed8-f684-4e7d-b3e4-796bd2d8c809,accessories.bag cameron,1
3197,2019-10-01 06:22:43 UTC,view,7004737,2053013560346280633,kids.carriage,omnio,244.54,513036218,b95c6770-85b8-4172-aecf-552f4527edfb,kids.carriage omnio,1
1051,2019-10-01 02:36:06 UTC,view,18400312,2053013553912217915,nan,alpine,324.59,515481785,7989deaf-4b21-4e31-b931-2b4229be1032,alpine,1
3205,2019-10-01 06:25:09 UTC,view,21100064,2053013561352913645,nan,nathan,128.45,539326493,a9ca8c57-6bdc-4f89-80a6-98b61ef48671,nathan,1
4051,2019-10-01 16:56:03 UTC,view,7203945,2053013553165631753,nan,amigami,5.38,515405477,69a8cd0a-4c6f-4311-a50b-4b5d4eac467a,amigami,1

In [48]:
products.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,product_name
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,nan,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,shiseido
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,appliances.environment.water_heater aqua
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,nan,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,furniture.living_room.sofa
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,computers.notebook lenovo
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,electronics.smartphone apple

In [88]:
columns_to_drop = [ROW_EVENT, ROW_TIME, ROW_SESSION]

In [90]:
products = products.drop(columns=columns_to_drop)
products.head()

,product_id,category_id,category_code,brand,price,user_id,product_name,count
0,44600062,2103807459595387724,nan,shiseido,35.79,541312140,shiseido,4
1,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,appliances.environment.water_heater aqua,118
2,17200506,2053013559792632471,furniture.living_room.sofa,nan,543.10,519107250,furniture.living_room.sofa,52
3,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,computers.notebook lenovo,699
4,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,electronics.smartphone apple,1570

In [70]:
len(products)

4052

In [69]:
products[ROW_NAME] = products[ROW_NAME].astype(str) 
loopProductsImages(products.head())

/var/folders/w3/xj4z3whx3ms1s28yvm3v87r80000gn/T/ipykernel_48701/1789687993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products[ROW_NAME] = products[ROW_NAME].astype(str)

Search:  shiseido, saving at: 44600062
Search: appliances.environment.water_heater aqua, saving at: 3900821
Search: furniture.living_room.sofa , saving at: 17200506
Search: computers.notebook lenovo, saving at: 1307067
Search: electronics.smartphone apple, saving at: 1004237

In [68]:
def loopProductsImages(df):
    for index, dfrow in df.iterrows():
        print(f"Search: {dfrow[ROW_NAME]}, saving at: {dfrow[ROW_PRODUCT_ID]}")
        imgq = dfrow[ROW_NAME]
        # print(f"Searching: {imgq}")
        imgsrc = get_google_img(imgq)
        response = requests.get(imgsrc)
        img = Image.open(BytesIO(response.content))
        img.save("data/images/"+str(dfrow[ROW_PRODUCT_ID])+".jpg")

In [ ]:
loopProductsImages(

In [92]:

TARGET_PRODUCTS_FILE="dist-data/products.csv"

In [93]:
products.to_csv(TARGET_PRODUCTS_FILE)

OSError: Cannot save file into a non-existent directory: 'dist-data'

In [17]:
# append category_code and brand and then group them by that

df["item_title"] = df["category_code"] + " " + df["brand"]
df.head(1)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,item_title
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,electronics.smartphone xiaomi

In [49]:
gb = df.groupby("item_title")
# gb["item_title"].count()
listitems = gb["item_title"].head()
listitems.iloc[:10]

0             electronics.smartphone xiaomi
1          appliances.sewing_machine janome
3              appliances.kitchen.washer lg
4             electronics.smartphone xiaomi
5                     computers.notebook hp
6                     computers.notebook hp
9              electronics.smartphone apple
14    appliances.kitchen.dishwasher samsung
18            electronics.smartphone huawei
19                    computers.notebook hp
Name: item_title, dtype: object

## Downloading the first 10 images

In [65]:
def download_images(list_search):
    for imgq in list_search:
        print(f"Searching: {imgq}")
        imgsrc = get_google_img(imgq)
        response = requests.get(imgsrc)
        img = Image.open(BytesIO(response.content))
        name = imgq
        name = name.replace(" ", "-")
        file_dir = "data/images/"
        img.save(f"{file_dir+name}.jpg")

In [67]:
download_images(list(listitems)[:10])

Searching: electronics.smartphone xiaomi
Searching: appliances.sewing_machine janome
Searching: appliances.kitchen.washer lg
Searching: electronics.smartphone xiaomi
Searching: computers.notebook hp
Searching: computers.notebook hp
Searching: electronics.smartphone apple
Searching: appliances.kitchen.dishwasher samsung
Searching: electronics.smartphone huawei
Searching: computers.notebook hp

## Uploading the first 10 images to the API

In [69]:
## Try first uploading one image to the ecommerce API