In [1]:
# Our data management libraries
import pandas as pd

In [16]:
## Visualization first million rows

In [13]:
df = pd.read_csv('data/2019-Nov.csv',nrows = 1000000)

In [15]:
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [18]:
df.shape

(1000000, 9)

In [19]:
df.isnull().sum()

event_time            0
event_type            0
product_id            0
category_id           0
category_code    316977
brand            147197
price                 0
user_id               0
user_session          0
dtype: int64

In [24]:
df = df.dropna()
df = df.drop_duplicates()
df.shape

(622161, 9)

# Looking at Groups (Categorizable)

In [28]:
event_group = df.groupby("event_type")
event_group.size()

event_type
cart         12736
purchase     12867
view        596558
dtype: int64

In [ ]:
event_group = df.groupby("event_type")
event_group.size()